.show{    background-color: palegoldenrod;
    margin-left: 6%;
    margin-right: 41%;}
    .button{    float: right;
        margin-top: -14%;
        margin-right: 10%;
    }

 .data{margin-left: 7%;}