.part{   
    width: 35%;
    height: 147%;
    margin-left: 32%
    }

    form{   
          padding-top: 10%;
          width: 35%;
          height: 147%;
          margin-left: 32%
        }

 input{

      width: 100%;

 }       